/* Diagnostic Styling */
@import "https://unpkg.com/open-props";

/* Import of Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body {
  background-image: var(--gradient-7);
  height: 100vh;
}

/* Main Container */
main {
  width: 800px;
  margin: 0 auto 0 auto;
  padding: 32px;
}

audio {
  width: 100%
}

h1 {
  text-align: center;
}

h1 a {
  font-family: 'Josefin Sans';
  color: white;
  text-decoration: none;
}

h1 a:hover {
  color: var(--pink-6);
}

h1:hover {
  animation: var(--animation-shake-x);
}
  
/* Snarky Ass Comments */
span {
  font-family: "Josefin Sans";
  font-size: 18px;
  padding: 12px;
  
  background: orange;
  border-radius: var(--radius-blob-3);
}
  

span:hover {
  display: inline-block;
  animation: var(--animation-shake-x);
}
